@model IEnumerable<Grestau.Data.Model.Restaurant>

@{
    ViewData["Title"] = "Ratings";
}

<h1>Restaurant Ratings</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Date Last Visite
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating.Stars)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating.Comment)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Rating.Date)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Rating.Stars)
            </th>
            <th>
                @{
                    if (item.Rating?.Comment != null)
                    {
                        var comment = item.Rating.Comment.Substring(0, item.Rating.Comment.Length > 31 ? 31 : item.Rating.Comment.Length);
                        if (comment.Length > 30)
                        {
                            comment += "...";
                        }
                        @Html.DisplayFor(m => comment)
                    }
                }
            </th>
            <td>
                <a asp-action="Rating" asp-route-id="@item.ID">Edit Rating</a>
            </td>
        </tr>
    }
    </tbody>
</table>